# fly.toml app configuration file generated for bloggthingie on 2024-11-18T13:18:39+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bloggthingie'
primary_region = 'sin'

[build]

[deploy]
  strategy = "bluegreen"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[http_service.checks]]
  grace_period = "2s"
  interval = "15s"
  method = "GET"
  timeout = "2s"
  path = "/healthcheck"

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
